.App-header {
  background-color: #d18e39;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.App-header-left {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 50px;
  margin-right: 20px;
}

.App-nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.App-nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

.App-nav a:hover {
  text-decoration: underline;
}

.App-contact {
  display: flex;
  align-items: center;
}

.App-contact .MuiTypography-root {
  margin-left: 5px;
  margin-right: 20px;
}

.App-main {
  padding: 20px;
  padding-bottom: 60px; /* Add bottom padding to avoid overlap with footer */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}